.vscode/**
.agents/**
.xm-cloud-sync/**
.test-out/**
.vscode-test/**
.gitignore
src/**
test/**
scripts/**
node_modules/**
!node_modules/playwright-core/**
dist/**
tsconfig.json
tsconfig.test.json
package-lock.json
*.vsix
